<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.thomas.myplugin"
    version="1.0.0">
    <name>Calendar</name>
    <description>My Calendar plugin</description>
   
   >
	
	<!-- android -->
		<platform name="android">
			<config-file target="res/xml/config.xml" parent="/*">
				<feature name="Device" >
					<param name="android-package" value="org.apache.cordova.device.Device"/>
				</feature>
			</config-file>

        <source-file src="src/android/Device.java" target-dir="src/org/apache/cordova/device" />
    </platform>
</plugin>